<head></head>
    <link rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
    <link href="css/notebook.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    
  </head>
  <iframe src="https://nbviewer.org/github/jimmmmmmmmmmmy/art_noteboooks/blob/bff3cbf8bed9d49653823160518c36b0faf318d1/strategy_analysis.ipynb" width="100%" height="100%"></iframe>
